@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Mi Sitio Web</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">integraciones con Github</a>.</p>
</div>
